@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/JosefinSans-Medium.ttf);
  }
  
  $font-1: "font-1", sans-serif;
  $color-orange:rgb(255, 37, 0);
  $color-pink: rgb(254, 231, 240);
  $color-1: #ff7b77;
  $color-2: #ffd0c4;

  body{
      font-family: $font-1;
      color: rgb(45, 36, 30);
      background: url("../../public/image/solidarite.jpg") no-repeat;
      background-size: 100%;
      @media(max-width:510px) {
        background:none;
      }
  }
  input,
textarea {
  resize: none;
  border-radius: 20px;
  width: 270px;
  font-family: $font-1;
  background: white;
  border:0;
}
textarea {
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type="submit"] {
  background: $color-2;
  color: $color-1;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px 20px;
  border-radius: 20px 6px 20px 20px;

  &:hover {
    background: $color-1;
    color: $color-2;
  }
}
input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
.error{
  color:red;
  padding-top:15px;
}