@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/JosefinSans-Medium.ttf);
  }
  
  $font-1: "font-1", sans-serif;
  $color-primary: #FD2D01;
  $color-secondary: #fdeeee;
  $color-1: #ff7b77;
  $color-2: #ffd0c4;
  $shadow:  #4E5166;

  body{
    max-width: 1200px ;
    margin-left: auto;
    margin-right: auto;
      font-family: $font-1;
      color: rgb(45, 36, 30);
      background: url("../../public/images/solidarite.jpg") repeat-y;
      background-size: 100%;  
       @media(max-width:700px) {
         background:none;
       }
  }
  ol{
    padding: 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 18px;
    padding-left: 0;
    @media (max-width:510){
      display: block;
    }

    li {
      list-style: none;
      cursor: pointer;
      padding: 12px 14px;
      transition: .2s;
      margin: 0 8px;
      font-size: 25px;
      font-weight: bold;
    }
    .active-btn {
      color: $color-primary;
    
    }
  }
  input {
  border-radius: 20px;
  width: 60%;
  //height: 30px;
  font-size: 1em;
  font-family: $font-1;
  background: white;
  border:0;
}
textarea {
  border-radius: 20px;
  width: 70%;
  //height: 30px;
  font-size: 1em;
  font-family: $font-1;
  background: white;
  border:0;
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type="submit"] {
  background: $color-2;
  color: $color-1;
  cursor: pointer;
  transition: 0.2s;
  margin-top:15px;
  padding: 10px 20px;
  border-radius: 20px;
  border:none;
  &:hover {
    background: $color-1;
    color: $color-2;
  }
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  
}
.label-file{
  position: absolute;
  
}

h1{
  text-align: center;
  color: $color-primary;
}
h4,h3{
  text-transform: capitalize;
}
.right-container{
  margin-left: 8%;
  margin-top: -170px;
  @media (max-width:750px){
    margin-top: 0px;
    margin-left:0px;
  }
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout{
  font-size: 25px;
}
label {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  cursor: pointer;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  text-align: center;
  margin: 10px;
  padding-bottom: 10px;
}
.date{
  &-post{
    color:#4E5166;
    padding-right:20px;
    font-size: 20px;
    @media (max-width:700px){
      font-size: 15px;
    }
  }
  &-comment{
    color:#4E5166;
    padding-right:5px;
    font-size: 12px;
  }
}
.profil-pic{
  width: 55px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
}
.right{
  float: right;
  padding-right: 15px;
 
}
.like-number{
  font-size: 0.8em;
}
.flex-wrap{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
