.card-post{
    border:1px solid #fdeeee;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px  10px gray;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdeeee;
    textarea{
        margin:10px auto 10px;
        width: 99%;
        border-radius: 20px 20px 5px 20px;
        text-align: center;
      
    }
    input{
        margin:10px auto 10px;
    }
    button{
        margin-left: auto;
        margin-right: 0; 
        border:none;
        
    }
}
.post{
    border:1px solid black;
    border-radius: 20px;
    margin:20px;
    h3{
        text-align:center;
        text-decoration:underline;
    }
    &-profil{
        display: flex;
        
        align-items: center;
        &-img{

            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 10px;
        }
    }
    &-barre{
        display: flex;
        justify-content: center;
        p{
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
        }
    }
    &-img{
        width: 70%;
        height:400px;
        align-items: center;
    }
}
.comment{
    background-color: #c2c2c2;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    input{
        margin-left:10px;
        margin-right:20px;
        width: 70%;
    }
    img{
        width: 200px;
        height: 150px;
    }
    &-icons{
        font-size: 22px;
    }
    ul{
        display: block;
        width: 100%;
    }
    &-owner{
       background-color: #c2c2c2;
       margin-bottom: 10px;
       width: 70%;
       border-radius: 5px;
       margin-left: auto;
       margin-right:auto;
        img{
            width: 200px;
            height: 150px;
        }
    }
}
