.float{
    display: flex;
    flex-direction: column-reverse;
}
.card-post{
    border:1px solid #fdeeee;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px  10px gray;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdeeee;
    
    textarea{
        margin:10px auto 10px;
        width: 90%;
        height: 40px;
        border-radius: 20px 20px 5px 20px;
        text-align: center;
        
      
    }
    label{
        .icons{
            font-size: 25px;
        }
        .icons:hover{
            color:$color-orange;
        }
    }
    input[type="submit"]{
        margin-right:0px;
        margin: 10px;
       border-radius: 20px;
    }
    button{
        margin-left: auto;
        margin-right: 0; 
        border:none;
        
    }
}
.post{
    border:1px solid black;
    border-radius: 20px;
    margin:20px;
    h3{
        text-align:center;
        text-decoration:underline;
    }
    &-profil{
        display: flex;
        
        align-items: center;
        &-img{

            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 10px;
        }
    }
    &-barre{
        display: flex;
        justify-content: center;
        p{
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
        }
    }
    &-img{
        width: 70%;
        height:400px;
        border-radius: 5px;
        margin-left:15%;
    }
}
.comment{
    background-color: $color-2;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    textarea{
        width: 170%;
    }
    &-icons{
        font-size: 22px;
    }
    ul{
        display: block;
        width: 100%;
    }
   &-img{
       width: 50%;
       max-height:150px ;
       border-radius: 5px;
       margin-left: 25%;
       
   }
}
