.connection-container {
    border: 2px solid $color-secondary;
    border-radius: 15px;
    width: 400px;
    margin:   auto ;
    padding: 20px 0;
    text-align: center;
    background-color: $color-secondary;
    h3 {
      padding: 10px 0 15px;
    }
  }
  form {
    label{
      font-weight: bold;
    }
    input {
      padding: 10px 14px;
      margin: 0;
      font-size: 1.2rem;
      border-radius: 20px;
      margin-bottom: 20px;
      // border:0;

      &:focus {
        box-shadow: 0 0 3px #4E5166;
      }
    }
    input[type=submit] {
      padding: 14px 14px;
      border-radius: 20px;
    }
  
}
.error{
  color:$color-primary;
  padding-top:15px;
}
.success{
  color:green;
  padding-top: 10px;
}