.navigation{
    display: flex;
    align-items:center;
    justify-content: space-between;
    &-header{
        font-weight:normal;
        font-size: 22px;
        padding-bottom: 0;
        padding-top: 20px;
        position: relative;
        
    }
    &-logout{
      width: 30px;
    }
    
       
}
