#profil{
    display:block;
    img{
        width: 200px;
        height: 180px;
        border-radius: 50px;
        padding: 30px;
    }
    
}
.profil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.label-file {
    cursor: pointer;
    color:$color-orange;
    font-weight: bold;
    padding-left: 30px;
}
.label-file:hover {
    color: #25a5c9;
}

// et on masque le input
.input-file {
    display: none;
}